<div class="newsitemwrap1" >
  <a href="{link}"><figure class="tint">
<img src="{articleintroimageurl}" class="intimage"  />
</figure></a>

<div class="newstext">
<h4><a class="titlelink" href="{link}">{title}</a></h4>
<p class="article-info"><span>{date}</span><span>In: {category}</span></p>
<p class="article-intro">{introtext}</p>

<a href="{link}" class="article-readmore1">Read More</a>
<a href="{link}">
<div class="stats" style="width:100%; margin:12px 0 0 0;">
<span><i class="icon-eye-open"></i>{hits}</span>
<span><i class="icon-comments"></i>{comments}</span>
<span class="last"><i class="icon-plus-sign"></i>Add</span>
</div>
</a>
</div>
</div>