<div class="newsitemwrap" >
  <a href="{link}"><figure class="tint">
<img src="{articleintroimageurl}" class="intimage"  />
</figure></a>

<div class="newstext">
<h4><a class="titlelink" href="{link}">{title}</a></h4>
<p class="article-info">
<span>Posted On: {date}</span><span>Written By: {author}</span><span>Category: {category}</span></p>
<p class="article-intro">{introtext}</p>
<a href="{link}" class="article-readmore">Read More</a>
<a href="{link}">
<div class="stats">
<span><i class="icon-eye-open"></i>{hits}</span>
<span><i class="icon-comments"></i>{comments}</span>
<span class="last"><i class="icon-plus-sign"></i>Add</span>
</div></a>

<div style="clear:both;"></div>

</div>
</div>