/* ----------------------------------------------*/
/* B 00 - Body
/* ----------------------------------------------*/
body {color:<?php echo $params->body_color;?>; background:<?php echo $params->bodybg;?> <?php if ($params->bodybgimg!= "-1") {?> url('<?php echo $imgpath; ?>/backgrounds/<?php echo $params->bodybgimg; ?>') <?php echo $params->bodybgposition;?><?php } ?>; }
/* ----------------------------------------------*/
/* B 01 - Heading,links and titles
/* ----------------------------------------------*/
.contentheading {color:<?php echo $params->conHead_color;?>;}
.componentheading {color:<?php echo $params->comHead_color;?>;}
a,input.button {color:<?php echo $params->link_color;?>;}
a:hover {color:<?php echo $params->linkhover_color;?>;}
a:active {color:<?php echo $params->linkactive_color;?>;}
h1 {color:<?php echo $params->h1_color;?>;}
h2 {color:<?php echo $params->h2_color;?>;}
h3 {color:<?php echo $params->h3_color;?>;}
h4 {color:<?php echo $params->h4_color;?>;}
h5 {color:<?php echo $params->h5_color;?>;}
h6 {color:<?php echo $params->h6_color;?>;}
/* ----------------------------------------------*/
/* B 02 - Titles
/* ----------------------------------------------*/
h1.pagetitle{background-color: #f6f6f6;}
.pagetitle, .pagetitle a {color:#fff; color:<?php echo $params->comHead_color;?>;}
.pagetitle span{}
.title {color:#333;}
.title a {color:#333;}
.title a:hover {color:<?php echo $params->link_color;?>;}
/* ----------------------------------------------*/
/* B 03 - Basecolor styles, used in JXTC Walls and 3rd party components
/* ----------------------------------------------*/
.basecolor_1 {color:<?php echo $params->basecolor1;?>;}
.basecolor_2 {color:<?php echo $params->basecolor2;?>;}
.basecolor_2 a {color:<?php echo $params->basecolor2;?>;}
.basecolor_3 {color:<?php echo $params->basecolor3;?>;}
.basecolor_4 {color:<?php echo $params->basecolor4;?>;}
.basecolor_5 {color:<?php echo $params->basecolor5;?>;}
.basecolor_6 {color:<?php echo $params->basecolor6;?>;}
.basecolor_7 {color:<?php echo $params->basecolor7;?>;}
.basecolor_8 {color:<?php echo $params->basecolor8;?>;}

/* ----------------------------------------------*/
/* L 00 - Header,logo,menu,inset,message,breadcrumb
/* ----------------------------------------------*/
#headerwrap{background:<?php echo $params->headerwrap; ?> <?php if ($params->headerwrapimage!= "-1") {?> url('<?php echo $imgpath; ?>/backgrounds/<?php echo $params->headerwrapimage; ?>') <?php echo $params->headerwrapposition; ?><?php } ?>; }
#header{border-bottom-style:solid;background:<?php echo $params->header; ?> <?php if ($params->headerimage!= "-1") {?> url('<?php echo $imgpath; ?>/backgrounds/<?php echo $params->headerimage; ?>') <?php echo $params->headerposition; ?><?php } ?>; }
#logo a{height: <?php echo $params->logoheight;?>px;width:<?php echo $params->logowidth;?>px;padding:<?php echo $params->logopadding; ?>;background: <?php if ($params->logoImg!= "-1") {?> url(<?php echo $imgpath; ?>/logos/<?php echo $params->logoImg; ?>) no-repeat 0 0<?php } ?>; }
#search input{-moz-box-shadow: -1px -1px 0px rgba(0,0,0,0.3), 1px 1px 0px rgba(255,255,255,0.075); -webkit-box-shadow: -1px -1px 0px rgba(0,0,0,0.3), 1px 1px 0px rgba(255,255,255,0.075); box-shadow: -1px -1px 0px rgba(0,0,0,0.3), 1px 1px 0px rgba(255,255,255,0.075);}
/* ----------------------------------------------*/
/* L 01 - Left and Right Columns
/* ----------------------------------------------*/
#left {background-color: #111;}
#right {background-color: #111;}
#left2 {background-color: #f5f5f5;}
#left3 {}
.logo {background: <?php echo $params->basecolor1;?> url(<?php echo $imgpath; ?>/backgrounds/crosspat.png) repeat;}
.logowrap {padding:60px;}
.logodiv {background: url(<?php echo $imgpath; ?>/backgrounds/logo-s2.png) 0 0 no-repeat;
-moz-background-size:100%; -webkit-background-size:100%; background-size:100%;}
.logowrap1 {padding:60px; background: <?php echo $params->basecolor1;?> url(<?php echo $imgpath; ?>/backgrounds/crosspat.png) repeat;}
.logodiv1 {background: url(<?php echo $imgpath; ?>/backgrounds/logo-s2.png) 0 0 no-repeat;
-moz-background-size:100%; -webkit-background-size:100%; background-size:100%;}
.logowrap1, logodiv1 {display:none;}
/* ----------------------------------------------*/
/* L 01 - Region 1
/* ----------------------------------------------*/
#region1wrap{background:<?php echo $params->region1wrap; ?> <?php if ($params->region1wrapimage!= "-1") {?> url('<?php echo $imgpath; ?>/backgrounds/<?php echo $params->region1wrapimage; ?>') <?php echo $params->region1wrapposition; ?><?php } ?>; }
#region1{border-left-style:solid;border-right-style:solid;background:<?php echo $params->region1; ?> <?php if ($params->region1image!= "-1") {?> url('<?php echo $imgpath; ?>/backgrounds/<?php echo $params->region1image; ?>') <?php echo $params->region1position; ?><?php } ?>; }


/* ----------------------------------------------*/
/* L 02 - Region 2
/* ----------------------------------------------*/
#region2wrap{background:<?php echo $params->region2wrap; ?> <?php if ($params->region2wrapimage!= "-1") {?> url('<?php echo $imgpath; ?>/backgrounds/<?php echo $params->region2wrapimage; ?>') <?php echo $params->region2wrapposition; ?><?php } ?>; }
#region2{border-left-style:solid; border-right-style:solid;background:<?php echo $params->region2; ?> <?php if ($params->region2image!= "-1") {?> url('<?php echo $imgpath; ?>/backgrounds/<?php echo $params->region2image; ?>') <?php echo $params->region2position; ?><?php } ?>; }

/* ----------------------------------------------*/
/* L 03 - Region 3
/* ----------------------------------------------*/
#region3wrap{background:<?php echo $params->region3wrap; ?> <?php if ($params->region3wrapimage!= "-1") {?> url('<?php echo $imgpath; ?>/backgrounds/<?php echo $params->region3wrapimage; ?>') <?php echo $params->region3wrapposition; ?><?php } ?>; }
#region3wrapnoimg{background:<?php echo $params->region3wrap; ?>;}
#region3{border-left-style:solid; border-right-style:solid;background:<?php echo $params->region3; ?> <?php if ($params->region3image!= "-1") {?> url('<?php echo $imgpath; ?>/backgrounds/<?php echo $params->region3image; ?>') <?php echo $params->region3position; ?><?php } ?>; }

/* ----------------------------------------------*/
/* L 04 - Region 4
/* ----------------------------------------------*/
#region4wrap{background:<?php echo $params->region4wrap; ?> <?php if ($params->region4wrapimage!= "-1") {?> url('<?php echo $imgpath; ?>/backgrounds/<?php echo $params->region4wrapimage; ?>') <?php echo $params->region4wrapposition; ?><?php } ?>; }
#region4{border-left-style:solid; border-right-style:solid;background:<?php echo $params->region4; ?> <?php if ($params->region4image!= "-1") {?> url('<?php echo $imgpath; ?>/backgrounds/<?php echo $params->region4image; ?>') <?php echo $params->region4position; ?><?php } ?>; }
/* ----------------------------------------------*/
/* L 05 - Region 5
/* ----------------------------------------------*/
#region5wrap{background:<?php echo $params->region5wrap; ?> <?php if ($params->region5wrapimage!= "-1") {?> url('<?php echo $imgpath; ?>/backgrounds/<?php echo $params->region5wrapimage; ?>') <?php echo $params->region5wrapposition; ?><?php } ?>; }
#region5{border-left-style:solid; border-right-style:solid;background:<?php echo $params->region5; ?> <?php if ($params->region5image!= "-1") {?> url('<?php echo $imgpath; ?>/backgrounds/<?php echo $params->region5image; ?>') <?php echo $params->region5position; ?><?php } ?>; }

/* ----------------------------------------------*/
/* L 06 - Region 6
/* ----------------------------------------------*/
#region6wrap{background:<?php echo $params->region6wrap; ?> <?php if ($params->region6wrapimage!= "-1") {?> url('<?php echo $imgpath; ?>/backgrounds/<?php echo $params->region6wrapimage; ?>') <?php echo $params->region6wrapposition; ?><?php } ?>; }
#region6{border-left-style:solid; border-right-style:solid;background:<?php echo $params->region6; ?> <?php if ($params->region6image!= "-1") {?> url('<?php echo $imgpath; ?>/backgrounds/<?php echo $params->region6image; ?>') <?php echo $params->region6position; ?><?php } ?>; }

/* ----------------------------------------------*/
/* L 07 - Region 7
/* ----------------------------------------------*/
#region7wrap{background:<?php echo $params->region7wrap; ?> <?php if ($params->region7wrapimage!= "-1") {?> url('<?php echo $imgpath; ?>/backgrounds/<?php echo $params->region7wrapimage; ?>') <?php echo $params->region7wrapposition; ?><?php } ?>; }
#region7{border-left-style:solid; border-right-style:solid;background:<?php echo $params->region7; ?> <?php if ($params->region7image!= "-1") {?> url('<?php echo $imgpath; ?>/backgrounds/<?php echo $params->region7image; ?>') <?php echo $params->region7position; ?><?php } ?>; }

/* ----------------------------------------------*/
/* L 08 - Region 8
/* ----------------------------------------------*/
#region8wrap{background:<?php echo $params->region8wrap; ?> <?php if ($params->region8wrapimage!= "-1") {?> url('<?php echo $imgpath; ?>/backgrounds/<?php echo $params->region8wrapimage; ?>') <?php echo $params->region8wrapposition; ?><?php } ?>; }
#region8{border-left-style:solid; border-right-style:solid;background:<?php echo $params->region8; ?> <?php if ($params->region8image!= "-1") {?> url('<?php echo $imgpath; ?>/backgrounds/<?php echo $params->region8image; ?>') <?php echo $params->region8position; ?><?php } ?>; }


/* ----------------------------------------------*/
/* L 09 - Region 9
/* ----------------------------------------------*/
#region9wrap{background:<?php echo $params->region9wrap; ?> <?php if ($params->region9wrapimage!= "-1") {?> url('<?php echo $imgpath; ?>/backgrounds/<?php echo $params->region9wrapimage; ?>') <?php echo $params->region9wrapposition; ?><?php } ?>; }
#region9{border-left-style:solid; border-right-style:solid; border-top-style:solid;background:<?php echo $params->region9; ?> <?php if ($params->region9image!= "-1") {?> url('<?php echo $imgpath; ?>/backgrounds/<?php echo $params->region9image; ?>') <?php echo $params->region9position; ?><?php } ?>; }

#region9 input.inputbox, #left input.inputbox{background:#555!important;border:1px solid #555!important; color:#ccc;}
div#bottom1 .module, div#bottom2 .module, div#bottom3 .module, div#bottom4 .module, div#bottom6 .module, #footerpad .module {background:none;}
/* ----------------------------------------------*/
/* L 10 - Footerwrap
/* ----------------------------------------------*/
#footerwrap{background:<?php echo $params->footer; ?>;}
#footerpad{background:<?php echo $params->footerpad; ?>;border-top-style:solid;}
/* ----------------------------------------------*/
/* L 11 - Site Wrap Borders
/* ----------------------------------------------*/
#header,#region1,#region2,#region3,#region4,#region5,#region6,#region7,#region8,#region9,#footerpad {border-width:3.3em; border-color:#fff;}
/* ----------------------------------------------*/
/* M 00 - XTC Menu
/* ----------------------------------------------*/
#menu {background: <?php echo $params->toplevelbgcolor;?>;}
/* Top Level */
#header ul.menu > li > a {color:<?php echo $params->topleveltxtcolor;?>; background: <?php echo $params->toplevelabgcolor;?>;}
#header ul.menu > li > a:hover,#header ul.menu > li.xtcHover a  {color:<?php echo $params->topleveltxthovercolor;?>;background: <?php echo $params->toplevelahoverbgcolor;?>!important;-moz-border-radius: 3px 3px 0 0; -webkit-border-radius: 3px 3px 0 0; border-radius: 3px 3px 0 0;
}
#header ul.menu > li.active > a {color:<?php echo $params->topleveltxtactivecolor;?>;background: <?php echo $params->toplevelaactivebgcolor;?>;}
#header ul.menu > li.active > a:hover {color:<?php echo $params->topleveltxthovercolor;?>;background: <?php echo $params->toplevelahoverbgcolor;?>;-moz-border-radius: 3px 3px 0 0; -webkit-border-radius: 3px 3px 0 0; border-radius: 3px 3px 0 0;}
/* Dropdown Level */
#header ul.menu li.parent > ul {background: <?php echo $params->droplevelbgcolor;?>;   box-shadow: 0 10px 15px rgba(0,0,0,0.5); -moz-box-shadow: 0 10px 15px rgba(0,0,0,0.5); -webkit-box-shadow: 0 10px 15px rgba(0,0,0,0.5); -moz-border-radius: 0 3px 3px 3px; -webkit-border-radius: 0 3px 3px 3px; border-radius: 0 3px 3px 3px;}
#header ul.menu li.parent > ul > li {border-bottom: 1px dashed #444;}
#header ul.menu li.parent > ul > li > a {color:#ccc; color:<?php echo $params->dropfont_color;?>;background: <?php echo $params->droplevelabgcolor;?>;}
#header ul.menu li.parent > ul > li.active > a {color:<?php echo $params->dropfontactive_color;?>;background: <?php echo $params->droplevelaactivebgcolor;?> ;}
#header ul.menu li.parent > ul > li > a:hover {color:<?php echo $params->dropfonthover_color;?>;background: <?php echo $params->droplevelahoverbgcolor;?> ;}
#header ul.menu li.parent > ul li:first-child a{}
#header ul.menu li.parent > ul li:last-child a{}
/* ----------------------------------------------*/
/* M 01 - Main Menu Dropdown Styles
/* ----------------------------------------------*/
.drop1 {border-left: 4px solid #8cbee0;}
.drop2 {border-left: 4px solid #ccc;}
.drop3 {border-left: 4px solid #ee8081;}
.drop4 {border-left: 4px solid #8cbee0;}
.drop5 {border-left: 4px solid #ccc;}
.drop6 {border-left: 4px solid #ee8081;}
.drop7 {border-left: 4px solid #8cbee0;}
.drop8 {border-left: 4px solid #ccc;}
.drop9 {border-left: 4px solid #ee8081;}
.dropstyles1 {border-left: 4px solid #93107f;}
.dropstyles2 {border-left: 4px solid #108893;}
.dropstyles3 {border-left: 4px solid #936d10;}
.dropstyles4 {border-left: 4px solid #931029;}
.dropstyles5 {border-left: 4px solid #93107f;}
.dropstyles6 {border-left: 4px solid #108893;}

.menu1 {background: url(<?php echo $imgpath; ?>/backgrounds/menu1-s3.png) 100% 0 no-repeat;}
.menu2 {background: url(<?php echo $imgpath; ?>/backgrounds/menu2-s3.png) 100% 0 no-repeat;}
.menu3 {background: url(<?php echo $imgpath; ?>/backgrounds/menu3-s3.png) 100% 0 no-repeat;}
.menu4 {background: url(<?php echo $imgpath; ?>/backgrounds/menu4-s3.png) 100% 0 no-repeat;}
.menu5 {background: url(<?php echo $imgpath; ?>/backgrounds/menu5-s3.png) 100% 0 no-repeat;}

ul.dualfish li a,ul.suckerfish li a,ul.dropline li a {font-size:1.1em!important;}
ul.dualfish li ul.dualfish li a,ul.suckerfish li ul.suckerfish li a,ul.dropline li ul.dropline li a{font-size:0.9em!important;}
/* ----------------------------------------------*/
/* S 00 - Module Suffixes
/* ----------------------------------------------*/
.module{background: <?php echo $params->modbkgcolor; ?>;}
.module h3{background: <?php echo $params->modtitlebkgcolor; ?> <?php if ($params->modtitleimage!= "-1") {?> url(<?php echo $imgpath; ?>/icons/<?php echo $params->modtitleimage; ?>) no-repeat 0 50%<?php } ?>; }
.module h3 span.first_word{color:<?php echo $params->modtitlefirstword;?>;}
.module h3 span.rest{color:<?php echo $params->modtitlesecondword;?>!important;}
.rtitle h3 span {background-color:<?php echo $params->basecolor2;?>;color:#fff!important; color: rgba(255,255,255,0.75)!important; text-shadow:-1px -1px 0px rgba(0,0,0,0.25);}
.underline h3 {border-bottom: 4px solid <?php echo $params->basecolor2;?>;background:none!important;}
.frame {border: 8px solid <?php echo $params->basecolor2;?>!important;}
.box{background:<?php echo $params->basecolor2;?>!important;color:#fff!important;}
.tabbed h3{border-bottom-color:<?php echo $params->basecolor2;?>!important;background:none!important;}
.tabbed h3 span{background:<?php echo $params->basecolor2;?>!important;	color:#fff!important; color: rgba(255,255,255,0.75)!important; text-shadow:-1px -1px 0px rgba(0,0,0,0.25);}
#region9 h3.moduletitle {background:none;}
/* ----------------------------------------------*/
/* C 00 - Content Overrides
/* ----------------------------------------------*/
/* Joomla Content */
#region3 .center, .centerbg {background:#f3f3f3;}
.comwrap {background:#f7f7f7;border:5px solid #ffffff;outline:1px solid #f1f1f1;}
.category_img{border:1px solid #e1e2de;background:#eef0eb;}
.cat-item div.action span{border-right:1px solid #CCCCCC;}
.btn input,.btn button, btn, .button, button,input.button,div.slide-leftbox input.button { background:<?php echo $params->basecolor6;?> !important; color:#fff; color: rgba(255,255,255,0.85); text-shadow: 1px 1px 0 rgba(0,0,0,0.3);}
.btn input:hover,.btn button:hover, btn:hover, .button:hover, button:hover,input.button:hover,div.slide-leftbox input.button:hover {color:#fff;}
div.joomla div.item{border-bottom:1px dotted #ccc;} 
.wallframe {background:#d5d5d5; border: 1px solid #fff;}
.imgframe,.article_date {background:#fff;  border:1px solid #f1f1f1; }
h5.day {color:#fff;}
h5.month{color:#fff;}
.article_date_pad{color:#fff;background-color:<?php echo $params->basecolor1;?>;}
div.contact.row-fluid h3 {color:#333;}
div.breadcrumbs {background:#ebebeb;}
span.showHere {color:<?php echo $params->basecolor1;?>;}
a.pathway {color:#999999 !important;}
span.here {color:#999999 !important;}
.readmore a {color:<?php echo $params->basecolor1;?> !important;}
.readmore a span {color:<?php echo $params->basecolor2;?>;}
.readmore a:hover {background:<?php echo $params->basecolor1;?>; color:#fff; text-shadow: 1px 1px 0 rgba(0,0,0,0.3); box-shadow: 2px 2px 0 rgba(0,0,0,0.15);}
div.pagination span {color:#ccc;}
.pagination ul > li > a, .pagination ul > li > span {background-color:<?php echo $params->basecolor3;?>;color:#ccc;}
.pagination ul > li > a {color:#fff;}	
.pagination ul > li > a:hover {color:#666;}
div.action{}
dt.result-title, dt.result-title a {color:<?php echo $params->basecolor1;?> !important; font-weight:normal;}
.search_menu_btn {color:#ebebeb;background:#666;}
.search_menu_btn:hover {color:#fff;background:<?php echo $params->basecolor1;?>;cursor:pointer;}
.items-more h3 {color:<?php echo $params->basecolor1;?>!important;}
ul.dualcol li {background: url(<?php echo $imgpath; ?>/backgrounds/diag2.png) repeat; }
ul.dualcol li a {color:<?php echo $params->basecolor3;?>; padding-left:18px; background: url(<?php echo $imgpath; ?>/backgrounds/menuarrow.png) 0 46% no-repeat; }
ul.dualcol li a:hover {color:#ccc; padding-left:18px; background: url(<?php echo $imgpath; ?>/backgrounds/menuarrow-h1.png) 0 46% no-repeat; }
/* ----------------------------------------------*/
/* C 01 - Typography
/* ----------------------------------------------*/
.numbered:after, .numbered-medium:after, .numbered-small:after {border-color:<?php echo $params->region3; ?>;}
.bargraphv,.bargraphv a:hover{ background-color:<?php echo $params->basecolor1;?>!important;}
.circletag { background-color:<?php echo $params->basecolor1;?>!important;}
.circlebottom {border-top-color: <?php echo $params->basecolor1;?>!important;}
.cloud_tag1 {background-color:<?php echo $params->basecolor2;?>!important;}
.bargraphv,.bargraphv a {background-color:<?php echo $params->basecolor1;?>!important;} 
/* ----------------------------------------------*/
/* H 01 - JXTC  Walls(Newspro News Module)
/* ----------------------------------------------*/
/*------Text Colors----------*/
h3.teamtitle-rt {color:<?php echo $params->basecolor5;?> !important;}
/*------Read More Buttons------*/
a.article-readmore, a.article-readmore1 {
background:-webkit-gradient(linear,left top,left bottom,color-stop(0.05,#f9f9f9),color-stop(1,#e9e9e9));background:-moz-linear-gradient(top,#f9f9f9 5%,#e9e9e9 100%);background:-webkit-linear-gradient(top,#f9f9f9 5%,#e9e9e9 100%);background:-o-linear-gradient(top,#f9f9f9 5%,#e9e9e9 100%);background:-ms-linear-gradient(top,#f9f9f9 5%,#e9e9e9 100%);background:linear-gradient(to bottom,#f9f9f9 5%,#e9e9e9 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9',endColorstr='#e9e9e9',GradientType=0);
background-color:#f9f9f9;border:2px solid #e3e3e3;color:#a6a6a6;-moz-border-radius:6px;-webkit-border-radius:6px;border-radius:6px;-moz-box-shadow:1px 1px 0 0 #bdbdbd;-webkit-box-shadow:1px 1px 0 0 #bdbdbd;box-shadow:1px 1px 0 0 #bdbdbd;}
.newswrap a.article-readmore:hover, .newswrap a.article-readmore1:hover {}
ul.sidemenu li a{color:#9b9078; color: rgba(255,255,255,0.5);}
/*------Structure Styles----------*/
.newswrap {background:#f3f3f3;}
.news-morearticle-wrap {}
.newsitemwrap {border-top:10px solid <?php echo $params->basecolor6;?>;}
.newsitemwrap1 {border-top:10px solid <?php echo $params->basecolor8;?>;}
.newsitemwrap2 {border-top:10px solid <?php echo $params->basecolor7;?>;}
/*------Text----------*/
.newstext {background:#fff; border:1px solid #ebebeb;}
.newsitemwrap img.intimage {}
.newstext h4 a {color:<?php echo $params->basecolor7;?>; line-height:110% !important} 
p.article-info {color:#aaa;padding:12px 0 6px;font-size:10px;}
p.article-info span {display:inline-block; padding:3px 9px 4px; background:#222; margin:0 10px 6px 0;}
.newsitemwrap p.article-info span  {background:<?php echo $params->basecolor7;?>;}
.newsitemwrap1 p.article-info span {background:<?php echo $params->basecolor7;?>;}
.newsitemwrap2 p.article-info span {background:<?php echo $params->basecolor7;?>;}
p.article-intro {color:#777;}
/*------Stats----------*/
.stats {display:inline-block;margin-left:5%;}
.stats span {display:inline-block;  font-size:11px; padding-right:12px; margin-right:12px; border-right:1px solid #ccc; }
.stats span.last {padding-right:0; margin-right:0; border-right:none;}
.stats span i {padding: 0 8px 0 0; font-size:1.1em !important; color:#333;}
/* ----------------------------------------------*/
/* H 02 - JXTC Slide Panel
/* ----------------------------------------------*/
.slide-container{background: #ffffff;border-radius: 4px;color: #7e7975;box-shadow: 0 2px 2px rgba(0,0,0,0.2),0 1px 5px rgba(0,0,0,0.2),0 0 0 12px rgba(255,255,255,0.4);}
.slide-container h1 {color: #bdb5aa;border-bottom: 1px solid #EBE6E2;text-shadow: 0 2px 0 rgba(255,255,255,0.8);box-shadow: 0 1px 0 rgba(255,255,255,0.8);}
.slide-container h1 .log-in {color: #6c6763;}
.slide-container h1 .sign-up {color:<?php echo $params->basecolor1;?>;}
.slide-container .float {border-top: 1px solid rgba(255,255,255,1);}
.slide-container label {color:#000;text-shadow: 0 1px 0 rgba(255,255,255,0.8);}
.login_slide_btn {color:#ebebeb;background:<?php echo $params->basecolor1;?>;}
.login_slide_btn:hover {color:#fff;background:<?php echo $params->basecolor1;?>;cursor:pointer;}
.logout_slide_btn {color:<?php echo $params->basecolor1;?>;background:#ebebeb;}
.logout_slide_btn:hover {color:#fff;background:<?php echo $params->basecolor1;?>;cursor:pointer;}
div.slide-leftbox li a {color:<?php echo $params->basecolor1;?>;font-size:10px; font-weight:bold; text-transform:uppercase;}

/* ----------------------------------------------*/
/* H 03 - Acymailing
/* ----------------------------------------------*/
#user_name_formAcymailing {background:#666!important;}
#user_email_formAcymailing {background:#666!important;}
/* ----------------------------------------------*/
/* H 04 - ReadingList
/* ----------------------------------------------*/
.rl_add {color:<?php echo $params->basecolor1;?>;text-transform:uppercase;font-size:11px;}
.rl_remove {color:<?php echo $params->basecolor1;?>;text-transform:uppercase;font-size:11px;}
.category_title{font-size:24px;color:<?php echo $params->basecolor1;?>;}
/* ----------------------------------------------*/
/* H 05 - Custom HTML Markup
/* ----------------------------------------------*/
ul.social1 li a {}
ul.social1 li a.first  {background-color:<?php echo $params->basecolor6;?>;}
ul.social1 li a.second {background-color:<?php echo $params->basecolor6;?>;}
ul.social1 li a.third  {background-color:<?php echo $params->basecolor6;?>;}
ul.social1 li a.fourth {background-color:<?php echo $params->basecolor6;?>;}
ul.social1 li a.fifth  {background-color:<?php echo $params->basecolor6;?>;}
ul.social1 li a.last   {background-color:<?php echo $params->basecolor6;?>;}

ul.social2 li a {}
ul.social2 li a.first  {background-color:<?php echo $params->basecolor6;?>;}
ul.social2 li a.second {background-color:<?php echo $params->basecolor7;?>;}
ul.social2 li a.third  {background-color:<?php echo $params->basecolor6;?>;}
ul.social2 li a.fourth {background-color:<?php echo $params->basecolor7;?>;}
ul.social2 li a.fifth  {background-color:<?php echo $params->basecolor6;?>;}
ul.social2 li a.last   {background-color:<?php echo $params->basecolor7;?>;}
/* ----------------------------------------------*/
/* H 06 - Kommento
/* ----------------------------------------------*/
div#section-kmt {background:#f1f1f1; border:none !important;}
div.kmt-form-submit {padding:0 30px;}
.kmt-readmore span {color:#393939;}
.kmt-readmore a {color:<?php echo $params->basecolor1;?> !important;border-right:1px solid #ccc;}
.kmt-readmore a:hover {color:<?php echo $params->basecolor1;?> !important;}
.kmt-comment span {color:#393939;}
.kmt-comment a {color:<?php echo $params->basecolor1;?> !important;border-right:1px solid #ccc;}
.kmt-comment a:hover {color:<?php echo $params->basecolor1;?> !important;}
.kmt-hits span {color:#393939;}
.kmt-hits a {color:<?php echo $params->basecolor1;?> !important;}
.kmt-hits a:hover {color:<?php echo $params->basecolor1;?> !important;}
#section-kmt .input.button {background:<?php echo $params->basecolor1;?> !important;color:#fff !important;	}
#section-kmt .kmt-btn-submit {background:<?php echo $params->basecolor1;?> !important;color:#fff !important;}
div.kmt-content p {background:#fff;}
div.kmt-content p:after {border-color:transparent #fff;}
/* ----------------------------------------------*/
/* H 07 - JXTC Easy Image Gallery
/* ----------------------------------------------*/
.unoslider_title {color:#fff;text-shadow: 0 0 15px rgba(0,0,0,0.67) !important;}
.unoslider_description {color:#fff;text-shadow: 0 0 15px rgba(0,0,0,0.97) !important;}
/* ----------------------------------------------*/
/* T 01 MOBILE
/* ----------------------------------------------*/
.mobilebtn {background-color:none;}
@media(max-width:620px){
body {background:#272727;}	
}